body{
    background-color: silver;
}

div{
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    max-width: 70%;
    border: 2px solid lightgray;
    margin: 50px auto auto auto;
}


table,
td,
th{
    border: 1px solid black;
    background-color: white;
}

