body{
    background: black;
}

div{
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    max-width: 70%;
    border: 2px solid lightgray;
    margin: 50px auto auto auto;
}
h3{
    margin:50px;
    background-color: white;
}