body{
    background-color: black;
}


.one{
    border-radius: 15px;
    padding: 20px;
    max-width: 75%;
    border: 2px solid lightgray;
    background-color: white;
    margin: 50px auto auto auto;

}

h2{
    margin: 20px;
}


textarea{
    min-height: 300px;
    min-width: 400px;
}