body{
    background-color: black;
}
.number_one,
.number_two{
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    max-width: 50%;
    border: 2px solid lightgray;

}

.number_one{
    margin: 50px auto auto auto;
}
.number_two{
    float: right;
    margin: 200px auto auto auto;
}


.two{
    display: inline-block;
}

li{
    margin: 50px auto auto auto;
}
.space{
    margin-right: 40px;
}

