<!DOCTYPE html>
<html lang="pln" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/databaseStyle.css">
</head>
<body>

<div class="container">
    <h4 >wprowadź nazwisko klienta</h4>
    <form action="/search" method="get">
    <input type="search" name="surname1" placeholder="wyszukiwarka">
        <input type="submit" value="Wyszukaj" class="btn btn-danger">
    </form>

</div>


<div class="container">
    <p th:if="${message}" th:text="${message}"/>
    <h2>Baza danych</h2>

    <h4>Lista klientów</h4>
    <table class="table">
        <tr>
            <th>id</th>
            <th >name</th>
            <th >surname</th>
            <th >status (new/constant) </th>
            <th >type (individual/company) </th>
        </tr>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.id}" padding="5px"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.surname}"></td>
            <td th:text="${customer.status_customer}"></td>
            <td th:text="${customer.type_customer}"></td>
        </tr>
    </table>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>